
div(id='feathersHeading' class='row')
  div(class='col-12')
    h2 More Features
    p.lead asfd ajwoei aweofi awerpij awpergweiog

div(id='features' class='row')
  div(class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 markup html5
      div(class='panel-body')
        img(src='/images/badge_html5.jpg' alt='html5' class='img-circle')
        p aklfas lkajsdf alksjfd
        a(href='#' class='btn btn-warning btn-block')  hahah
  div(class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 markup html5
      div(class='panel-body')
        img(src='/images/badge_css3.jpg' alt='html5' class='img-circle')
        p aklfas lkajsdf alksjfd
        a(href='#' class='btn btn-danger btn-block')  hahah
  div(class='col-sm-4 feature')
    div(class='panel panel-default')
      div(class='panel-heading')
        h5 markup html5
      div(class='panel-body')
        img(src='/images/badge_bootstrap.jpg' alt='html5' class='img-circle')
        p aklfas lkajsdf alksjfd
        a(href='#' class='btn btn-info btn-block')  hahah