footer(class='footer')
  div(class='container')
    div(class='row')
      div(class='col-sm-2')
        h6 Copyright &copy; 2016
      div(class='col-sm-4')
        h6 About
        p ksdjf wiej oiwj wpieoj wpj2q  piw2 pqwe3itj wepjirh 
      div(class='col-sm-2')
        h6 Navigation
        ul(class='list-unstyled')
          li
            a(href='#') Home
          li
            a(href='#') Home
      div(class='col-sm-2')
        h6 asdf
        ul(class='list-unstyled')
          li
            a(href='#') asdf
          li
            a(href='#') zxc
       div(class='col-sm-2')
        h6 lol
