
div(class='alert alert-info alert-block' role='alert' id='loginAlert')
  button(type='button' class='close' data-dismiss='alert' aria-lable='Close')
    span(aria-hidden='true')
      &times;
  if (success||error)
    script.
      $('#loginAlert').slideDown();
    if success
      span() #{success}
    if error
      span() #{error}