nav(class='navbar navbar-default')
  div(class='container')
    div(class='navbar-header')
      button( type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#top-navbar-responsive-collapse' aria-expanded="false")
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a(class='navbar-brand' href='/')
        img(src='/images/logo.png' alt='logo')

    div(class='collapse navbar-collapse ' id='top-navbar-responsive-collapse')
      ul(class='nav navbar-nav')
        li
          a(href='/') Home
        
        li(class='dropdown')
          a(class='dropdown-toggle' data-toggle='dropdown' href='#') Articles
            strong(class='caret')
            ul(class='dropdown-menu')
              li
                a(href='/all') All
              li
                a(href='/archive') Archive
              li(class='divider')
              li(class='dropdown-header') View by
              li
                a(href='/tags') Tags of Articles
        if user
          li
            a(href='/post') Post



      ul(class='nav navbar-nav navbar-right')
        li(class='dropdown')
          if user
            a(class='dropdown-toggle' data-toggle='dropdown' href='#')
              span(class='glyphicon glyphicon-user')
              |  My Account
              ul(class='dropdown-menu')
                li
                  a() Hello, #{user.name}
                li
                  a(href='/logout') Logout
          else
            li
              a(href='/newuser') Login/Register

      div(class='input-group  navbar-right')
        form(class='navbar-form' action='/search' method='GET')
          input(id='searchInput' type='text' class='form-control' name='keyword'   autocomplete='off')
          button(type='submit' class='btn btn-default')
            span(class='glyphicon glyphicon-search')
