if !isFirstPage
  a.btn(href='?p=1') &lt;&lt; First
  a()   
  a.btn(href='?p=#{page-1}') &lt; Previous
  a()  
if !isLastPage
  a.btn(href='?p=#{page+1}' ) Next &gt;
  a()  
  a.btn(href='?p=#{totalPage}' ) Last &gt;&gt;
