extends ./parts/_layout.jade

block headerAndBody
  
  script(src='/bower_lib/socket.io-client/socket.io.js' type='text/javascript')
  script(src='/javascripts/chat.js' type='text/javascript')

  h2 Live Chat

  div(class='input-group pages')
    span(class='')
      span(id='chatPage')
        div(class='chatArea')
          span(class='messages')
        input(class='inputMessage form-control' placeholder='Type here...')
      span(id='loginPage')
          form
            h3(class='title') What's your nickname?
            if user
              input(class='usernameInput form-control' type='text', maxlength='14' value='#{user.name}')
            else
              input(class='usernameInput form-control' type='text', maxlength='14')



block footer
  include ./parts/_footer.jade
