extends ./parts/_layout.jade

block headerAndBody

  h2 Live Chat

  div(class='input-group pages')
    span(class='')
      span(class='chat page')
        div(class='chatArea')
          span(class='messages')
        input(class='inputMessage form-control' placeholder='Type here...')
      if user
        span(class='login page')
          form
            h3(class='title') What's your nickname?
            input(class='usernameInput form-control' type='text', maxlength='14' value='#{user.name}')
      else
        span(class='login page')
          form
            h3(class='title') What's your nickname?
            input(class='usernameInput form-control' type='text', maxlength='14')



block footer
  include ./parts/_footer.jade
