doctype html
head
  include ./_links.jade
body
  div(class='container' id='main')
    div(class='navbar navbar-fixed-top')
      include ./_navbar.jade


    form(method='post' action='/edit/#{post._id}')
      a() title
      br
      input(type='text' name='title' value='#{post.title}')
      br
      textarea(name='article') #{post.article}
      br
      input(type='submit' value='save')

  include ./_footer.jade
