doctype html
head
  include links.jade
body
  include header.jade

  form(method='post' action='/edit/#{post._id}')
    a() title
    br
    input(type='text' name='title' value='#{post.title}')
    br
    textarea(name='article') #{post.article}
    br
    input(type='submit' value='save')

  include footer.jade
