doctype html
head
  include ./_links.jade
body
  div(class='container' id='main')
    div(class='navbar navbar-fixed-top')
      include ./_navbar.jade

    div(id='myCarousel' class='carousel slide')
      include ./_carousel.jade
    div(class='well well-small visible-xs')
      a(href='' class='btn btn-large btn-block btn-default')
        span(class='glyphicon glyphicon-phone')
        | Call


    include ./_loginAlert.jade 
    include ./_features.jade
    include ./_moreInfo.jade
    include ./_thumbnails.jade



  include ./_footer.jade
