extends ./parts/_layout.jade

block headerAndBody

  div(id='myCarousel' class='carousel slide')
    include ./parts/_carousel.jade
  div(class='well well-small visible-xs')
    a(href='' class='btn btn-large btn-block btn-default')
      span(class='glyphicon glyphicon-phone')
      | Call


  include ./parts/_signinAlert.jade 
  include ./parts/_features.jade
  include ./parts/_moreInfo.jade
  include ./parts/_thumbnails.jade


block footer
  include ./parts/_footer.jade
