extends ./_layout.jade

block headerAndBody

  div(id='myCarousel' class='carousel slide')
    include ./_carousel.jade
  div(class='well well-small visible-xs')
    a(href='' class='btn btn-large btn-block btn-default')
      span(class='glyphicon glyphicon-phone')
      | Call


  include ./_loginAlert.jade 
  include ./_features.jade
  include ./_moreInfo.jade
  include ./_thumbnails.jade


block footer
  include ./_footer.jade
