doctype html
head
  include ./_links.jade
body
  div(class='container' id='main')
    div(class='navbar navbar-fixed-top')
      include ./_navbar.jade

    div(id='myCarousel' class='carousel slide')
      include ./_carousel.jade


    include ./_loginAlert.jade 
    include ./_features.jade
    include ./_moreInfo.jade

    div(id='recentPosts' class='row')
      include ./_recentPosts.jade

  div(id='userList' class='row')


  include ./_footer.jade
