doctype html
html
  head
    include ./_links.jade
  body
    div(class='container' id='main')
      div(class='navbar navbar-fixed-top')
        include ./_navbar.jade

      include ./_loginAlert.jade
  

      form(method='post')
        a username
        input(type='text' name='name')
        br
        a password
        input(type='password' name='password')
        br
        input(type='submit' value='login')



      div(ng-app='plunker')
        div(ng-controller='MainCtrl')
          form(name='myForm')
            input(type='text' name='username' ng-model='username' username-Available required ng-model-options="{updateOn: 'blur'}")
            div(ng-if='myForm.$pending.usernameExists')
              span Checking...
            div(ng-if='myForm.$error.usernameExists')
              span Username Exsists

    include ./_footer.jade
