extends ./_layout.jade

block headerAndBody

  include ./_loginAlert.jade


  form(method='post')
    a username
    input(type='text' name='name')
    br
    a password
    input(type='password' name='password')
    br
    input(type='submit' value='login')


block footer
  include ./_footer.jade
