doctype html
head
  include links.jade
body
  include header.jade
  form(method='post')
    a title
    br
    input(type='text' name='title')
    br
    a tags
    br
    input(type='text' name='tag1')
    input(type='text' name='tag2')
    input(type='text' name='tag3')
    br
    a content
    br
    textarea(name='post')
    br
    input(type='submit' value='post')

  include footer.jade
