
doctype html
html
  head
    include ./_links.jade
  body
  div(class='container' id='main')
    div(class='navbar navbar-fixed-top')
      include ./_navbar.jade
    include ./_loginAlert.jade

    form(method='post')
      a username
      input(type='text' name='name')
      br
      a password
      input(type='password' name='password')
      br
      a repeat
      input(type='password' name='passwordConfirm')
      br
      a email
      input(type='text' name='email')
      br
      input(type='submit' value='register')
   include ./_footer.jade