doctype html
head
  include ./_links.jade
body
  div(class='container' id='main')
    div(class='navbar navbar-fixed-top')
      include ./_navbar.jade
    h3 #{title}
    each post in posts
      li #{post.dates[0].day}
        a(href='/p/#{post._id}')  #{post.title}
      
  include ./_footer.jade
