extends ./_layout.jade

block headerAndBody
  div(id='recentPosts' class='row')
    div(class='col-sm-12')

      div(class='page-header')
        h2 Articles related to tag: #{currentTag}
      ul(class='list-group')
        each post in posts
          li(class='list-group-item') #{post.dates[0].day}
            a(href='/p/#{post._id}')  #{post.title}


      
block footer
  include ./_footer.jade

