extends ./parts/_layout.jade

block headerAndBody

  h2 Tags  
  each tag in posts
    if tag
      a(class='btn btn-primary tag' href='/tags/#{tag}') #{tag}


block footer
  include ./parts/_footer.jade

