doctype html
head
  include ./_links.jade
body
  div(class='container' id='main')
    div(class='navbar navbar-fixed-top')
      include ./_navbar.jade

    h3 #{title}'s Posts 
    each post in posts
      h4
        a(href='/p/#{post._id}') #{post.title}
        a()  
      a()  #{post.time}
      include ./_stat.jade

    include ./_paging.jade
  include ./_footer.jade
