extends ./parts/_layout.jade

block headerAndBody
  include ./parts/_signinAlert.jade 
  
  h4 Edit Profile

  div(ng-controller='editProfileValidation' class='form-horizontal' ng-init='signinName="#{user.name}"; useremail="#{user.email}";')
    form(name='editProfileForm' action='/userAccount' method='post' )
      div(class='form-group')
        label(for='signinName' class='col-sm-3 col-sm-offset-2  control-label') Username
        div(class='col-sm-4')
          input#signinName(type='text', name='signinName', ng-model='signinName', readonly,  class='form-control' autocomplete='off')

      div(class='form-group')
        label(for='email' class='col-sm-3 col-sm-offset-2 control-label') Email
        div(class='col-sm-4')
          input#email(type='email', name='useremail', ng-model='useremail', required=''  autocomplete='off' class='form-control')
          span(ng-show='editProfileForm.useremail.$error.required && editProfileForm.useremail.$dirty') required
          span(ng-show='!editProfileForm.useremail.$error.required && editProfileForm.useremail.$error.email && editProfileForm.useremail.$dirty') invalid email
      if user.oauth===false 
        div(class='form-group')
          label(for='signinPassword' class='col-sm-3 col-sm-offset-2 control-label') Old Password
          div(class='col-sm-4')
            input#signinPassword(type='password', name='signinPassword', ng-model='signinPassword',required='' class='form-control')
            br
            span(ng-show='editProfileForm.signinPassword.$error.required && editProfileForm.signinPassword.$dirty') required

        div(class='form-group')
          label(for='newPassword' class='col-sm-3 col-sm-offset-2 control-label') New Password
            br
            small(class='level3Text')  leave blank if no change
          div(class='col-sm-4')
            input#newPassword(type='password', name='newPassword', ng-model='newPassword', ng-minlength='8', ng-maxlength='20', ng-pattern='/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/',  ng-change='comparePassword()' class='form-control')
            br
            span(ng-show='!editProfileForm.newPassword.$error.required && (editProfileForm.newPassword.$error.minlength || editProfileForm.newPassword.$error.maxlength) && editProfileForm.newPassword.$dirty') Passwords must be between 8 and 20 characters.1
            span(ng-show='!editProfileForm.newPassword.$error.required && !editProfileForm.newPassword.$error.minlength && !editProfileForm.newPassword.$error.maxlength && editProfileForm.newPassword.$error.pattern && editProfileForm.newPassword.$dirty')
              | Must contain one lower and uppercase letter, and one non-alpha character (a number or a symbol.)
        
        div(class='form-group')
          label(for='newPassword_c' class='col-sm-3 col-sm-offset-2 control-label') Confirm New Password
          div(class='col-sm-4')
            input#newPassword_c(type='password', name='newPassword_c', ng-model='newPassword_c', ng-change='comparePassword()' class='form-control')
            br
            span(ng-show='editProfileForm.newPassword_c.$error.noMatch && editProfileForm.newPassword_c.$dirty') Passwords do not match.
      br
      button.btn(type='submit', ng-disabled='!editProfileForm.$valid' class='btn btn-info center-block') Submit
    
block footer
  include ./parts/_footer.jade
