extends ./parts/_layout.jade

block headerAndBody

  h3 #{title}'s Posts 
  each post in posts
    h4
      a(href='/p/#{post._id}') #{post.title}
      a()  
    a()  #{post.time}
    include ./parts/_stat.jade

  p
    include ./parts/_paging.jade
    
block footer
  include ./parts/_footer.jade
