
.margin0important(){
  margin:0;
}
//---------temp

.article-img {
width: 20%;
}


//---------global
html{
  overflow-y: scroll;
}

body{
  -webkit-font-smoothing: antialiased;
  text-rendering:optimizelegibility;
  padding-top:70px;
}

.container{
//border: 1px #000 solid;
}

.carousel-inner{
}

.tabbable img.thumbnail{
  margin: 0 20px 10px 
}

.alert{

  margin-top:20px;
  display:none;
}

.well{
//  margin: 20px 0;
}

.thumbnail {
  position: relative;
}
.thumbnail .price {
  position:absolute;
  top:-10px;
  right:-10px;
  padding: 5px;
}

.footer {
  background-color: #f5f5f5;
}

//-------------------layout

#features{
text-align:center;
}

#features img{
  margin: 0 0 20px;
}

.avatarSmall{
  .margin0important() !important;
}

.articleBreakWord{
margin: 20px 0 0 0;
}

.level3Text{
  color:#bbb;
  font-size:10px;
}
//--------angular

input.ng-dirty.ng-invalid{
  border:1px solid orange;

}


//--------typography
.well .page-header h3{
  margin-top:0;
}

//----------navbar

#searchInput{
  width:150px;
}


