
.article-img {
width: 20%;
}


//---------global
body{
  -webkit-font-smoothing: antialiased;
  text-rendering:optimizelegibility;
  padding-top:70px;
}

.container{
//border: 1px #000 solid;
}



.alert{

  margin-top:20px;
  display:none;
}

.well{
  margin: 20px 0;
}

//--------angular

input.ng-dirty.ng-invalid{
  border:1px solid orange;

}


//--------typography
.well .page-header h3{
  margin-top:0;
}

//----------navbar

#searchInput{
  width:150px;
}
