
ul#nav li{
  display:inline;
  margin: 0 10px 0 10px;
}
ul#nav li a{
  color: #999999;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.article-img {
width: 20%;
}
