hr
div(id='moreInfo' class='row')
  div(class='col-sm-6')
    h4 tabbable content
    div(class='tabbable')
      ul(class='nav nav-tabs')
        li(class='active' role='presentation')
          a(href='#tab1' data-toggle='tab') section1
        li(role='presentation')
          a(href='#tab2' data-toggle='tab') section2
      div(class='tab-content')
        div(class='tab-pane active' id='tab1')
          h5
            span(class='glyphicon glyphicon-map-marker')
            |  something title
            small  some else
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198360.69539552115!2d125.60168551824401!3d39.02932073446078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357e02dae64f4337%3A0xd40677e21771aa95!2sPyongyang%2C+North+Korea!5e0!3m2!1sen!2sus!4v1453413340188', width='100%', height='200', frameborder='0', style='border:0', allowfullscreen='')
          p aopwirg joawi awropij paw3qi4ajaw ja3pwi jq3m4 jq23p4 q23p4ij kajgn oah aosi asoh asoiud awoeiu a hnoaawefoiuh awfeo

        div(class='tab-pane' id='tab2')
          h5
            span(class='glyphicon glyphicon-map-marker')
            |  something title
            small  some else
          img(src='http://placehold.it/140' class='thumbnail pull-left')
          p earkjgnae oawih o34hi 3o4thin 34qohni o234qhni 3oh4nqi q324ohin q234oihn q23a4ohn q3ahoni 3q4ohn 3qa4ohuni q234otuhn; ;3qo4h q234ohi q2hnj3io2qh 2jnoi2 3thoji2hjio 2ih j3i2t3jhipo23 ohjniw 2wr3t fawe awf

          hr
          a(href='#myModal' role='button' class='btn btn-warning' data-toggle='modal') modal window
          div(class='modal fade' id='myModal')
            div(class='modal-dialog')
              div(class='modal-content')
                div(class='modal-header')
                  button(class='close' data-dismiss='modal') &times;
                  h4(class='modal-title') a modal window
                div(class='modal-body')
                  h5 text title

                  a(href='#' class='btn btn-danger pop' data-toggle='popover' data-placement='top' data-original-title='you cklicked it' data-content='i konw you would') dont click

                  h5 another title
                  a(href='#' data-original-title='Tooltip' rel='tooltip') link
                  p owaih 2hw3oj23jhio 3oi 132hi 231hi0 oh3iu 23oih 23orhnn 23oiuh2 2o3hiur 23ohiu 21o3iuh 23oiuhr23 ohi2u32 3oih23r5oi oh2ni3 oh2i3r oih23oh i23roi hro23ih h23ri oih23rhioj2 3roih3r2 

                  form(class='form-horizontal')
                    div(class='form-group')
                      label(class='col-lg-2 control-label' for='inputName') Name
                      div(class='col-lg-10')
                      input( class='form-control' id='inputName' placeholder='Name' type='text')
                    div(class='form-group')
                      label(class='col-lg-2 control-label' for='inputEmail') Email
                      div(class='col-lg-10')
                      input( class='form-control' id='inputEmail' placeholder='Email' type='email')
                    div(class='form-group')
                      label(class='col-lg-2 control-label' for='inputMessage') Message
                      div(class='col-lg-10')
                      textarea( class='form-control' id='inputMessagee' placeholder='Message' row='3')
                      button(class='btn btn-success pull-right' type='submit')  Send


                div(class='modal-footer')
                  button(class='btn btn-default' data-dismiss='modal' type='button') close
                  button(class='btn btn-primary' type='button') save

  div(class='col-sm-6') <!---->
    h4 List group
    ul(class='list-group')
      li(class='list-group-item active')
        | askjl jaow apwoiej jpg 
        span(class='badge') 99
      li(class='list-group-item') 
        p(class='list-group-heading') dsf jaksds
        p(class='list-group-content') asdf askej ajowi wopi4e paw3IJ WAJPE WJG
      li(class='list-group-item') weuj oinhw2wnoi poi2w g2f2pi



