hr
div.row(id='thumbnails')
  div.col-sm-12
    h3 some thumbnails

  div.col-sm-6
    div.thumbnail
      img(src='http://placehold.it/400X200' alt='')
      div(class='label label-info price')
        span(class='glyphicon glyphicon-tag') $39
      div.caption
        h4 heading
        p jfoiwej joawi aproi paejw apwergjia jpaigap iawop awiope awopihj hoaiwf
        p
          a(class='btn btn-primary btn-small' href='#') hit

  div.col-sm-6
    div.thumbnail
      img(src='http://placehold.it/400X200' alt='')
      div.caption
        h4 heading
        p jfoiwej joawi aproi paejw apwergjia jpaigap iawop awiope awopihj hoaiwf
        p
          a(class='btn btn-primary btn-small' href='#') hit